/* Material Icons fix */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Variables */

$breakpoints: (
  'xs-phone': 'screen and (max-width: 374px)',
  'phone'   : 'screen and (min-width: 375px) and (max-width: 767px)',
  'tablet'  : 'screen and (min-width: 768px) and (max-width: 1199px)',
  'laptop'  : 'screen and (min-width: 1200px)'
);


/* Mixins */



/* Media Override */

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
    @if not $query {
      @error "No value could be retrieved from `#{$breakpoint}`.";
    }
  @media #{$query} {
    @content;
  }
}


/* Imports */

@import 'partials/_typography.scss';
@import 'partials/_main.scss';
@import 'partials/_navigation.scss';
@import 'partials/_carousel.scss';
@import 'partials/_footer.scss';