/* Carousel */

.carousel {

  .carousel-item {
    background-size: cover;

    h2 {
      margin-top: 0;
    }
  }

  @include respond-to(xs-phone) {
    height: calc(100vh - 56px) !important;

    .carousel-item h2 {
      padding-top: calc(50vh);
    }
  }  

  @include respond-to(phone) {
    height: calc(100vh - 56px) !important;

    .carousel-item h2 {
      padding-top: calc(50vh - 56px);
    }
  }

  @include respond-to(tablet) {
    height: calc(100vh - 64px) !important;

    .carousel-item h2 {
      padding-top: calc(50vh - 64px);
    }
  }

  @include respond-to(laptop) {
    height: calc(100vh - 64px) !important;

    .carousel-item h2 {
      padding-top: calc(50vh - 64px);
    }
  }
}