/* Carousel */

.item {
  height: calc(100vh - 50px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  @include vertical-center;
  bottom: initial;
  padding: 0;

  p {
    font-size: 2em;
  }
}