
/* Main */

section {

  &#about {
    color: #fff;
  }

  &.parallax-container {
    height: 800px;
  }

  &.icon-block {
    padding: 0 15px;
  }

  /* &#pentesting {
    .row.description {
      padding-bottom: 15px;
    }
  }

  &#app-security {
  }

  &#managed-security {
  }

  &#forensics-malware {
  }

  &#contact {
    text-align: center;

    .contact-info {
      font-size: 18px;
    
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  p.col-title {
    font-size: 22px;
    font-weight: $light-weight;
  }

  .row.icons {
    text-align: center;
  }

  .container {
    position: relative;
    @include vertical-center;
  }

  @include respond-to(xs-phone) {
    &#pentesting {
      height: 170vh;
    }

    img.icon {
      padding-top: 5px;
      max-width: 60%;
      max-height: 60%;
    }
  }

  @include respond-to(phone) {
    &#pentesting {
      height: 160vh;
    }

    img.icon {
      padding-top: 5px;
      max-width: 75%;
      max-height: 75%;
    }
  }
  
  @include respond-to(tablet) {
    img.icon {
      padding-top: 30px;
      max-width: 75%;
      max-height: 75%;
    }
  }

  @include respond-to(laptop) {
    img.icon {
      padding-top: 15px;
      max-width: 100%;
      max-height: 100%;
    }
  } */
}