/* Body */

body {
  @include preserve-3d;
  font-size: $base-font-size;
}


/* Main */

section {
  height: $main-section-height;

  &.about {
    color: #fff;
  }

  &.security-pentesting {
    height: 500px;
  }

  &.code-review {
    color: #fff;
  }

  &.managed-security {
    height: 500px;
  }

  &.forensics-malware {
    color: #fff;
  }

  &.contact {
    text-align: center;
    height: 500px;

    .contact-info {
      font-size: 18px;
    
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  .container {
    position: relative;
    @include vertical-center;
  }
}