/* Parallax Effect */

.bg-holder {
  width: 100%;
  height: 100%;
  
  &#bg1 {
    background-image: url('../img/nyc-blur.jpg');
  }
  
  &#bg2 {
    background-image: url('../img/color-code-blur.jpg');
  }

  &#bg3 {
    background-image: url('../img/laptop-blur.jpg');
  }
}
