body {
  font-family: $base-font-family;
  font-weight: $regular-weight;
}

h1 {
  font-size: 4em;
  font-weight: $light-weight;
}

h2 {
  margin-top: 10px;
  font-size: 3em;
  font-weight: $light-weight;
}

h3 {
  font-size: 2em;
  font-weight: $light-weight;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.50em;
}

h6 {
  font-size: 1.25em;
}

@include respond-to(xs-phone) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }
}